* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* genercis */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.txt-white {
    color: white;
}

.d-flex {
    display: flex;
}


li {
    list-style-type:
        none;
}

.bg-grey {
    background-color: #F6F6F6;
}

.bg-pink {
    background-color: pink;
}

a {
    text-decoration: none;
}

.header-link a {
    color: white;
}

.header-buttons a {
    margin: 20px 5px;
}

.btn {
    background-color: white;
    border-radius: 40px;
    padding: 0.5rem 1rem;
}

.dark-btn {
    background-color: #23272A;
    color: white;
}

.purple-btn {
    background-color: #7288DA;
}

.txt-left {
    text-align: left;
}

.txt1-8rem {
    font-size: 1.8rem;
}

.txt-8rem {
    font-size: 0.8rem;
}

.margintop20 {
    margin-top: 20px;
}

.black-border {
    border: 1px dashed black;
}

.txt-right {
    text-align: right;
}

p {
    line-height: 20px;
}

/* header */

header {
    min-height: 80px;
    background-color: #255EE9;
    padding: 20px 0;

}

.center-nav {
    flex-grow: 1;
    min-height: 40px;
    padding: 8px 0;
}

.left-nav {
    width: 200px;
    min-height: 40px;
    align-items: center;

}

.right-nav {
    width: 200px;
    min-height: 40px;
    align-items: center;
    justify-content: flex-end;
}

.header-link {
    justify-content: center;
    justify-content: space-evenly;
}

/* buttons-section */

.buttons-section {
    min-height: 400px;
    background-image: url(img/jumbo.png);
    background-size: cover;
    padding: 60px 0;
}

.header-buttons h1 {
    font-size: 2rem;
    color: white;
}

.header-buttons p {
    color: white;
    margin: 30px 0;
}

.header-buttons {
    padding-top: 50px;
    min-height: 340px;
    width: 700px;
    text-align: center;
}


/* first-section */

.inside-section {
    min-height: 400px;
    padding: 50px 0;
}

.image-left {
    height: 400px;
    width: 60%;
}

.padding-txtr {
    padding-right: 150px;
    padding-top: 20px;
}

.text-right {
    height: 400px;
    width: 40%;

}

.col-image {
    height: 350px;
}

/* second-section */


.padding-txtl {
    padding-left: 150px;
    padding-top: 20px;
}

/* fourth-section */

.fourth-section {
    min-height: 700px;
    padding: 50px 0;

}

.main-box {
    min-height: 850px;
    padding: 50px;
    text-align: center;
}

.main-box h2,
p {
    text-align: center;
}

.question {
    justify-content: center;
}

.adventure-section {
    max-width: 350px;
    padding: 20px 20px;
    background-image: url(img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;

}





/* footer */
footer {
    background-color: #23272A;
}

.footer-nav {
    min-height: 600px;
    padding: 50px 0;

}

.footer-nav div {
    min-height: 300px;

}

.left-col {
    background-color: pink;
    width: 40%;
}

.right-col {
    background-color: #4BB2AA;
    width: 15%;
}

/* footer buttons */

.footer-buttons {
    min-height: 50px;
    border-top: 1px solid white;
    padding: 20px 0;

}

.footer-cont {
    min-height: 50px;
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
}